{% extends 'dashe/base.html' %}{% load static %}
{% block content %}

<div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-2 pb-10 pb-lg-0 pt-0 pt-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
    <!--begin::Heading-->
    <h1 class="d-flex flex-column text-dark fw-bolder my-0 fs-1">Card Payment</h1>
    <!--end::Heading-->
    
</div>

<div class="row g-5 pb-5 g-lg-10" style="margin:0px; border-radius:2%; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; background-color:#ffffff;">
  
    <!-- * App Capsule -->
    <div id="appCapsule">

        
        <div class="section mt-2">
            <div class="section-title"></div>
            <div class="transactions" style="padding: 10px;">
            
                <div class="action-sheet-content">
                    <form>
                        {% csrf_token %}
                        <div class="form-group basic text-center pb-20" style="color: #305970;">
                        This funding carries a charge of {{rate.rate}}% of the total amount
                        </div>

                    
                        <div class="form-group basic pb-5">
                            <label class="label fw-boldest pb-2">Enter Amount</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text" >₦</span>
                                <input type="text" id="card_amount" class="form-control" placeholder="Enter an amount">
                            </div>
                        </div>

                        <div class="form-group basic text-center">
                            <button type="button" id="card_submit" class="btn btn-primary btn-block btn-lg">Proceed</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        



    </div>
    <!-- * App Capsule -->
</div>

{% endblock %}