{% extends 'dashe/base.html' %}{% load static %}
{% block content %}

<div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-2 pb-10 pb-lg-0 pt-0 pt-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
    <!--begin::Heading-->
    <h1 class="d-flex flex-column text-dark fw-bolder my-0 fs-1">User Password</h1>
    <!--end::Heading-->
    
</div>

<div class="row g-5 pb-5 g-lg-10" style="margin:0px; border-radius:2%; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; background-color:#ffffff;">
   
    <!-- * App Capsule -->
    <div id="appCapsule">

        
        <div class="section mt-2">
            <div class="section-title"></div>
            <div class="transactions" style="padding: 10px;">
            
                <form class="form w-100 needs-validation"   action="" method="POST">
                    {% csrf_token %}
                    <!--begin::Heading-->
                    
        
                    <div class="input-style has-borders no-icon  mb-4" >
                        <input type="password" class="form-control " id="old_pass" placeholder="Enter Old Password">
                        
                    </div>
                    <div class="input-style has-borders no-icon mb-4">
                        <input type="password" class="form-control" id="new_pass1" placeholder="Enter New Password">
                       
                    </div>
                    <div class="input-style has-borders no-icon mb-4" id="password_div" hidden>
                    <input type="password" class="form-control" id="new_pass2" placeholder="Enter New Password Again">
                    
                    
                    </div>                
                    <button class="btn btn-primary" id="update_pass" type="button">Update</button>
                    <!--end::Actions-->
                
                </form>
                
            </div>
        </div>
        



    </div>
    <!-- * App Capsule -->

    <script>

    $(document).ready(function () {
        show_pass();
        change_pass();
    
        function show_pass() {
        $(document).on("input", "#new_pass1", function () {
            let new_pass1 = $("#new_pass1").val();
    
            if (new_pass1 !== "") {
            $("#password_div").removeAttr("hidden", true);
            } else {
            $("#password_div").attr("hidden", "hidden");
            }
        });
        }
    
        function change_pass(){
        $(document).on('click', '#update_pass', function(){
            let old_pass = $('#old_pass').val();
            let new_pass1 = $('#new_pass1').val();
            let new_pass2 = $('#new_pass2').val();
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            console.log(old_pass, new_pass1, new_pass2)
    
            $.ajax({
            type: "POST",
            url: "{% url 'password' %}",
            data: { old_pass:old_pass, new_pass1:new_pass1, new_pass2:new_pass2 },
            headers: { "X-CSRFToken": csrftoken },
            cache: false,
            dataType: "JSON",
            success: function (response) {
                if (response.code == 200) {
                
                iziToast.success({
                    title: "Success",
                    position: "topRight",
                    message: response.success,
                });
                setTimeout(function(){
                    window.location.href = response.redirect;
                }, 3000);
                
                } else {
                iziToast.error({
                    title: "Error",
                    position: "topRight",
                    message: response.error,
                });
                }
            },
            error: function (response) { },
            });
        });
        }
    });
    </script>
</div>

{% endblock %}